.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }
  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }
  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
/**
 * Category filter
 */
.blog-categories {
  display: flex;
  min-height: 55px;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  overflow-x: auto;
  color: #000000;
  margin-bottom: 60px;
  margin-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 575px) {
  .blog-categories {
    width: calc(100% - 1.5rem);
    justify-content: space-between;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
}

.blog-categories--item {
  padding: 15px 10px 10px;
  outline: none;
  font-weight: 400;
  border-bottom: 5px solid transparent;
  text-decoration: none;
}
.blog-categories--item.selected, .blog-categories--item:hover, .blog-categories--item:focus {
  border-color: #000000;
}

.blog-categories--category {
  font-size: 16px;
  text-transform: capitalize;
  color: #000;
  white-space: nowrap;
}

/**
 * Teaser with link
 */
.blog-sidebar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-left: -15px;
  margin-right: -15px;
}
@media screen and (min-width: 992px) {
  .blog-sidebar {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}

.teaser-with-link {
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 15px;
}
@media screen and (min-width: 575px) {
  .teaser-with-link {
    flex: 0 0 50%;
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .teaser-with-link {
    flex: 0 0 100%;
    width: 100%;
    max-width: 250px;
    margin: auto;
    padding: 0;
  }
}
.teaser-with-link .image {
  margin-bottom: 20px;
}
.teaser-with-link .image img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.teaser-with-link .text {
  color: #6E6E6D;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.teaser-with-link .text.has-line {
  border-bottom: 2px solid #F0F0F0;
}
.teaser-with-link .title {
  font-size: 18px;
  color: #6E6E6D;
  font-weight: bold;
  margin-bottom: 10px;
}
.teaser-with-link .content {
  font-size: 14px;
}
.teaser-with-link .button--primary {
  display: block;
  width: 100%;
  height: 38px;
  margin-top: 20px;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #9F9A8A;
  text-transform: uppercase;
}

/**
 * Article widgets
 */
.bw-article-widget {
  margin: 50px 0;
}
.bw-article-widget.banner .row {
  display: flex;
  flex-wrap: wrap;
}
.bw-article-widget.banner .row > * {
  flex-shrink: 0;
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
}
.bw-article-widget.banner .col-content {
  width: 100%;
}
@media (min-width: 575px) {
  .bw-article-widget.banner .col-content {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .bw-article-widget.banner .col-content {
    width: 65%;
  }
}
.bw-article-widget.banner .col-content .content {
  text-align: center;
  padding: 30px;
}
@media (min-width: 768px) {
  .bw-article-widget.banner .col-content .content {
    padding: 40px;
  }
}
.bw-article-widget.banner .col-content .content .headline {
  font-size: 16px;
  color: #000;
  margin-top: 0;
  margin-bottom: 10px;
}
.bw-article-widget.banner .col-content .content .text {
  font-size: 14px;
  line-height: 20px;
  color: #000;
}
.bw-article-widget.banner .col-content .content .btn {
  display: inline-block;
  width: 80%;
  height: 38px;
  padding: 8px;
  margin-top: 15px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000;
}
.bw-article-widget.banner .col-img {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 575px) {
  .bw-article-widget.banner .col-img {
    width: 40%;
  }
}
@media (min-width: 768px) {
  .bw-article-widget.banner .col-img {
    width: 35%;
  }
}
.bw-article-widget.banner .col-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
.bw-article-widget.banner .col-content {
  order: 1;
}
.bw-article-widget.banner .col-img {
  order: 0;
}
@media (min-width: 575px) {
  .bw-article-widget.banner .col-img {
    order: 2;
  }
}
.bw-article-widget.banner .col-img.left {
  order: 0;
}

.blog .page-header {
  text-align: center;
}

.article-item {
  margin-bottom: 60px;
}
.article-item__image {
  display: block;
  height: 250px;
  overflow: hidden;
  margin-bottom: 20px;
}
.article-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-item__title {
  font-size: 2.2rem;
  margin-top: 0;
}
.article-item__link {
  display: inline-block;
  position: relative;
}
.article-item__link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -1px;
  background: currentColor;
  transform: scale(1);
  transform-origin: left center;
  transition: transform 0.2s ease-in-out;
}
.article-item__link:hover:before {
  transform: scaleX(0);
}

.blog-overview {
  margin-bottom: 100px;
}
.blog-overview .section-footer {
  text-align: center;
}/*# sourceMappingURL=blog-template.css.map */